//
// --------------------------------------------
// Links
// --------------------------------------------
a, [role="button"] {
	transition: color .12s ease,
				opacity .12s ease;
	//			border-color .15s ease,
	//			background-color .15s ease,
	//			-webkit-filter .15s ease,
	//			filter .15s ease; 
}

//a:active, [role="button"]:active {
//	@include tap-delay;
//}

a,
a:hover,
a:active {
	color: inherit;
	text-decoration: none;
}

.text-underline,
.text-underline:hover,
.text-underline:focus,
.text-underline:active,

.hover-underline:hover,
.hover-underline:focus,
.hover-underline:active { text-decoration: underline; }


//
// --------------------------------------------
// .text-COLORNAME
// --------------------------------------------
// BS $grays
//@each $color, $value in $grays { 
//	.text-gray-#{$color} {
//		color: $value!important;
//	}
//}

// Additional colors not in BS theme
// @each $color, $value in (
// 						 "navy": #0079D2,
// 						 "green": $green,
// 						 "green-light": #398731 ) {
// 	.text-#{$color} {
// 		color: $value!important; 
// 	}
// } 


//
// --------------------------------------------
// .hover-COLORNAME
// --------------------------------------------
.hover-text {
	&:hover,
	&:focus,
	&:active { opacity:.75; }
}
//.hover-primary {
//	.no-touch &:hover,
//	.no-touch &:focus,
//	html &:active,
//	html &.active { color: $primary!important; }
//}

//.hover-black {
//	.no-touch &:hover,
//	.no-touch &:focus,
//	html &:active,
//	html &.active { color: $black!important; }
//}


//
// --------------------------------------------
// .border-COLORNAME
// --------------------------------------------
// .border-sky {
//     border-color: #AFCEDE !important;
// }