
.ico-ui-lightbox:before { content: '\e800'; } /* '' */
.ico-ui-external:before { content: '\e801'; } /* '' */
.ico-ui-down-v:before { content: '\f004'; } /* '' */
.ico-ui-up-v:before { content: '\f005'; } /* '' */
.ico-ui-right-v:before { content: '\f006'; } /* '' */
.ico-ui-left-v:before { content: '\f007'; } /* '' */
.ico-ui-play:before { content: '\f00f'; } /* '' */
