// 
// --------------------------------------------
// 橫向捲軸選單提示
// js/partials/_scrollhint.js
// @version 20210509
// --------------------------------------------

.scrollhint--show[js-scrollhint="holder"] { 
	position: relative;
	//padding-right: 30px; // 留意css分數可能壓不過
}
	[js-scrollhint="scroller"]:not(.swiper-wrapper) {
		overflow: hidden;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		.no-touch & { @include scrollbar(5px, $blue); }
	}
	.scrollhint { 
		//display: none;
		display: block; opacity: 0; transition: opacity .8s ease; //@20240316
		position: absolute;
		right: 0; top: 0; z-index: 2;
		width: 30px;
		height: 100%;
		//background: linear-gradient(90deg, rgba(#fff,.2) 0%, rgba(#fff,1) 45%);
		background: linear-gradient(90deg, rgba($dark,0) 0%, rgba($dark,.25) 50%, rgba($dark,.95));
		//background: rgba($white, .98);
		//box-shadow: -8px 0 6px -8px rgba(black,.2);
		//pointer-events: none;
		user-select: none;
		overflow: hidden;
		
		//.bg-soft & { 			background: linear-gradient(90deg, rgba(#F2F9FD,.2) 0%, rgba(#F2F9FD,1) 45%); }

		.ico {
			position: absolute; right: 0; top: 0; left: 5px; bottom: 0; margin: auto;
			width: 100%; height: rem(18); font-size: rem(18);
			//color: rgba(#fff, .5);
			opacity: .6;
			line-height: 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}


	}
	.scrollhint[js-swiper-nextbtn] {
		display: block;
		//pointer-events: auto;
		//cursor: pointer;
	}
	.scrollhint--show .scrollhint { //@20240316
		//display: block;
		//animation: fade-in .2s ease both;
		opacity: 1;
	}
	
@media #{$bp-432} {
	//.scrollhint { width: 24px; }
	//.scrollhint--show[js-scrollhint="holder"] { padding-right: 24px; }
}




// Override swiper
// --------------------------------------------
// js-scrollhint 不支援出血內容
/*.swiper-container[js-scrollhint="holder"] {
	overflow: visible;
	height: 100%!important;
}
.swiper-container [js-scrollhint="scroller"] {
	overflow: visible!important;
}*/

[js-scrollhint="holder"] .swiper-wrapper {
	height: 100%!important;
	//justify-content: center;  // 列表item若在寬度足夠時以置中排列，在寬度不足Swiper作動時，center 會使 Swiper 捲動定位計算產生衝突
}
.scrollhint--items-center[js-scrollhint="holder"] .swiper-wrapper { // 列表item若在寬度足夠時以置中排列，綁上 scrollhint--items-center
	justify-content: center;
}
.scrollhint--show[js-scrollhint="holder"]  .swiper-wrapper {
	justify-content: flex-start!important; // 強制回復為 Swiper default
}
[js-scrollhint="holder"] .swiper-slide {
	width: auto; // 列表item若沒有預設寬度、且js-swiper-option='{"xs":"auto"}時，會被Swiper認定為一個slide一個item
}

