html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
}

// Use system Chinese font on Mac & iPhone
//@supports (-webkit-hyphens:none) { 
//body {
//	font-family: Helvetica, Arial, sans-serif;
//}
//}


//
// --------------------------------------------
// Extract Bootstrap Headings styles from
// ../../bootstrap/scss/_type.scss
// --------------------------------------------


// Type display classes
.display1 {
	@include font-size($display1-size);
	line-height: 1;
}
.display2 {
	@include font-size($display2-size);
	line-height: 1.1;
}
.display3 {
	@include font-size($display3-size);
	//line-height: 1.1;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
}

.h1 { @include font-size($h1-font-size); }
.h2 { @include font-size($h2-font-size); }
.h3 { @include font-size($h3-font-size); }
.h4 { @include font-size($h4-font-size); }
.h5 { @include font-size($h5-font-size); }
.h6 { @include font-size($h6-font-size); }

//
// --------------------------------------------
// 微調全站RWD基準字級，
// 螢幕愈窄基準字級略為縮小
// --------------------------------------------
html { font-size: $font-size; } // 16px
//@media #{$bp-576} { html { font-size: 15px; }} 


//
// --------------------------------------------
// 自創 .h1 ~ .h6 RWD字級
// 	 <div class="h4 h5-mb">...</div>
// 	 <div class="display2 h2-mb">...</div>
// --------------------------------------------
@media #{$bp-1200} {
	.display1 { font-size: $display1-size*.7; }
	.display2 { font-size: $display2-size*.85; }
	.display3 { font-size: $display3-size*.93; }
	.h1 { font-size: $h1-font-size*.93; }
	.h2 { font-size: $h2-font-size*.93; }
}
@media #{$bp-992} {
	.display3 { font-size: $display3-size*.85; }
}
@media #{$bp-576} {
	html .display1-mb { font-size: $display1-size-mb; }
	//.display2 { font-size: $display2-size*.72; }
	html .h1-mb { font-size: $h1-font-size-mb; }
	html .h2-mb { font-size: $h2-font-size-mb; }
	html .h3-mb { font-size: $h3-font-size-mb; }
	html .h4-mb { font-size: $h4-font-size-mb; }
	html .h5-mb { font-size: $h5-font-size-mb; }
	html .h6-mb { font-size: $h6-font-size-mb; }
}


//
// Line height
// --------------------------------------------
.lh-none { line-height: 1!important; }
.lh-xs { line-height: 1.1!important; }
.lh-sm { line-height: 1.2!important; }
.lh-md { line-height: 1.5!important; }
.lh-base { line-height: $line-height-base!important; } //1.6
.lh-lg { line-height: 1.8!important; }
.lh-xl { line-height: 2.1!important; }
.lh-inherit { line-height: inherit!important;  }


//
// --------------------------------------------
// Text styles
// --------------------------------------------
small, .small { @include font-size($small-font-size);}
big, .big { @include font-size($big-font-size);}

.fw-normal  { font-weight: $font-weight-normal!important; }
.fw-bold    { font-weight: $font-weight-bold!important; }
.fw-bolder  { font-weight: $font-weight-bolder!important; }
.fw-black  { font-weight: 900!important; }
.nowrap { white-space: nowrap; }
.italic { font-style: italic; }

.ls-xl { letter-spacing: .2em!important; }
.ls-lg { letter-spacing: .1em!important; }
.ls-md { letter-spacing: .075em!important; }
.ls-sm { letter-spacing: .05em!important; }
.ls-none { letter-spacing: 0; }

//
// --------------------------------------------
// Horizontal rules
// --------------------------------------------
hr {
	margin-top: $hr-margin-y;
	margin-bottom: $hr-margin-y;
	border: 0;
	border-top: $hr-border-width solid $hr-border-color;
}

.text-wordwrap {
	@include wordwrap;
}
// 避免字體套用前後閃動
//.text-fixfouc { opacity: 0; transition: opacity .12s ease .03s; }
//.wf-delagothicone-n4-active .text-fixfouc { opacity: 1; }

.text-sans { font-family: $font-family-sans-serif; }
.text-notosans { font-family: $font-family-notosans; } 
.text-serif { font-family: $font-family-serif; } 
.text-lora { font-family: 'Lora', $font-family-serif; }



