//
// --------------------------------------------
// .masthead
// --------------------------------------------
.masthead {
	position: fixed;
	z-index: 20;
	left: 0; right: 0; top: 0; 
	height: 100px;
	//height: $masthead-h;
	background: rgba(#fff,0);
	box-shadow: 0 5px 7px rgba(#000,0); 
	@include no-select;
}
.header--anim .masthead { //@@20220707 avoid showing masthead when halway-scrolled page reloads
	transition: height .2s,
				background .2s ease,
				box-shadow .5s ease,
				transform .5s ease;
}
	.masthead-inner {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between; 
		max-width: 1440px + 40*2;
		height: 100%;
		margin: 0 auto;
		padding: 0 40px;
	}
	.masthead-logo { //<a>
		position: absolute;
		left: 40px; //top: 19px;
		top: 0; bottom: 1px;
		display: block;
		height: 30px; 
		margin: auto 0;
		-webkit-filter: brightness(0) invert(1); filter: brightness(0) invert(1);
		transition: .2s;
	}
		.masthead-logo-img { //<img>
			display: block; height: 100%; width: auto;
		}
	.masthead-toggle { 
		display: none;
		transition: .15s;
	}
 

//
// --------------------------------------------
// PC navigation
// --------------------------------------------
@media #{$gt-992} {
	.navbar {
		flex: 1 1 auto;
		display: flex;
		justify-content: end;
		padding-right: 10px;
	}
		.navbar-item {
			margin: 0 10px;
		}
			.navbar-link {
				display: flex;
				align-items: center;
				justify-content: center; 
				height: $masthead-h;
				padding: 0 20px;
				text-align: center;
				line-height: 1.2;
				color: #fff;
				font-weight: 700;
				font-family: $font-family-serif;
				transition-duration: .3s;
			}
				.navbar-link-txt {
					white-space: nowrap;
				}
				// .navbar-link-ico {
				// 	margin-left: 4px;
				// 	font-size: rem(18);
				// }
			
			// state
			.no-touch .navbar-link:hover,
			.no-touch .navbar-link:focus,
			.navbar-link:active,
			.navbar-item.active .navbar-link {
				color: $wheat!important;
			}
			//.navbar-link.opened {
			// 	color: $wheat!important;
			//}
//
// --------------------------------------------
// PC subnav panel
// --------------------------------------------
	.subnav {
		position: absolute;
		z-index: 10;
		left: 0; //js
		top: 100%;
		//@include debug;
		animation: fade-in .2s ease backwards;
	}
	.subnav-inner {
		position: relative;
		margin-top: -20px;
		min-width: 150px;
		max-width: 300px;
		padding-bottom: 15px;
		color: #fff;
		transition: .12s;
	}
			.subnav-link {
				display: flex;
				padding: 8px 30px;
				line-height: 1.2;
				font-weight: 700;
				font-family: $font-family-serif;
				transition-duration: .3s;
				color: inherit;
			}
			.no-touch .subnav-link:hover,
			.no-touch .subnav-link:focus,
			.subnav-link:active,
			.subnav-item.active .subnav-link {
				color: $wheat;
			}
}
@media #{$bp-992} {
	.navbar { display: none; }
}




// Header state  
// --------------------------------------------
.header--fixed.scrolled-down:not(.mbpanel--open)/* :not(.reach-bottom) */ .masthead {
	transform: translateY(-101%);
}
.header--fixed.scrolled-up:not(.mbpanel--open) .masthead {
	transition-timing-function: ease-out;
	transition-duration: .5s;
}
.header--fixed/* .leave-top */ .masthead {
	background: #fff;
	box-shadow: 0 5px 7px rgba(#000,.05);
}
.header--fixed:not(.mbpanel--open),  // Fixed header
.header--nowhite:not(.mbpanel--open) { // Color header at very top
	.masthead-logo { -webkit-filter: none; filter: none; }
	.navbar-link { color: $lake; }
	.masthead-toggle i { background: $dark; }
	.subnav-inner { color: $lake; }
}
.header--fixed:not(.mbpanel--open) .subnav-inner {
	margin-top: 0;
	background: #fff;
	box-shadow: 0 5px 7px rgba(#000, .05);
}

.header--nowhite:not(.mbpanel--open) {
	&.no-touch .navbar-link:hover,
	&.no-touch .navbar-link:focus,
	.navbar-link:active,
	.navbar-item.active .navbar-link,
	&.no-touch .subnav-link:hover,
	&.no-touch .subnav-link:focus,
	.subnav-link:active,
	.subnav-item.active .subnav-link {
		color: $primary!important;
	}
}


.mbpanel--open .masthead {
	position: fixed!important; //override `position-absolute`
	background: $brown;
	transition: none;
}
.mbpanel--open .masthead-toggle { 
	i:nth-child(2) { opacity: 0; transition-duration: 0s; }
	i:first-child { transform: rotate(45deg); top: 0;}
	i:last-child { transform: rotate(-45deg); bottom: 0; }
}


// PC only
@media #{$gt-992} {
	.header--fixed .masthead {
		height: $masthead-h;
	}
	.header--hidden .masthead {
		transform: translateY(-101%)!important;
	}
}


// mobile only
// --------------------------------------------
@media #{$bp-992} {
	.masthead { height: $masthead-h-mb; }
	.masthead-inner { padding: 0 30px; }
	.masthead-logo {
		position: relative; left: auto; right: auto; top: 0; 
		height: 25px;
	}
	.masthead-toggle {
		display: block;
		position: absolute; 
		right: 0; top: 0;
		width: 68px;
		height: $masthead-h-mb;
		i {
			position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;
			width: 25px;
			height: 2px;
			background: #fff;
		}
		i:first-child,
		i:last-child {
			transform-origin: 50% 50%;
			transition: .15s ease;
			will-change: transform;
		}
		i:nth-child(2) {
			transition: opacity .2s ease;
		}
		i:first-child { transform: translateY(-7px); }
		i:last-child { transform: translateY(7px); }
		&:focus,
		&:active {
			//opacity: .6;
			//background: $gray-100;
		}
	}
}
@media #{$bp-576} {
	.masthead-inner { padding: 0 20px; }
}

//
// Header panel
// --------------------------------------------
[js-panel] {
	display: none;
}
.panel--active[js-panel] {
	display: block;
}




