<footer class="mastfoot">
	<div class="mastfoot-inner">
		<div class="mastfoot-main">
			<a class="mastfoot-logo" href=""><img fetchpriority="low" width="246" height="54" src="img/ui/footer-logo.svg" alt="永裕居建設"></a>

			<ul class="mastfoot-sitemap ls-lg no-select">
				<li class="mb-3"><a class="text-white" href="">首頁</a></li>
				<li class="mb-3"><a class="text-white" href="projects.html">建案實績</a></li>
				<li class="mb-3 splitlinks">
					<a class="text-white pl-0" href="project-heirloom.html">永裕居 詠藝</a>
					<a class="text-white" href="project-sixarts.html">心六藝</a>
					<a class="text-white pr-0" href="project-bobolife.html">達人生活</a>
				</li>
				<li class="mb-3"><a class="text-white" href="about.html">關於永裕居</a></li>
				<li><a class="text-white" href="contact.html">聯絡我們</a></li>
			</ul>

			<div class="mastfoot-info col-12 col-md-5 col-xl-4">
				<p class="mb-2">
					<strong>總公司</strong><br>
					22058新北市板橋區大觀路二段127號3樓
				</p>
				<p class="mb-2">
					<strong>台北大學辦事處</strong><br>
					23741新北市三峽區學勤路23號2樓
				</p>
				<p>統編：80704918</p>
			</div>
		</div>
		<small class="mastfoot-cr">本網站由 <a class="text-wheat text-underline" rel="noopener noreferrer" target="_blank" href="https://sandshour.com/">sandshour 散時間</a> 製作<nobr>&copy; 2025 Everliving Construction</nobr></small>
	</div>
</footer>
<a class="btn btn-backtop btn-primary" href="#backtop"><i class="ico-ui-up-v"></i>TOP</a>